<div class="container1">
      <div >
          <app-admin-header></app-admin-header>
      </div>
      <div class="login">
        <form [formGroup]="signup" (ngSubmit)="check()" autocomplete="off">
          <!-- <img style="height:50px;" src="../../assets/MicrosoftTeams-image.png"><br> -->   
            <div>
              <input formControlName="Userid" class="input" type="text" id="Userid"   placeholder="Username" (keypress)="CheckId($event)"/>
                <div class="errors" *ngIf="Userid.errors?.['required'] && Userid.touched">UserID is required</div>
                <div class="errors" *ngIf="Userid.errors?.['minlength'] && Userid.touched">User ID should have minimum length</div>
                <div  class="errors" *ngIf="status==false">{{UsernameCheckmsg}}</div> 
          
            </div>&nbsp; 
           
                   
            <div>
               <input formControlName="firstname" class="input" type="text" id="firstname" placeholder="First Name"/>
                <div class="errors" *ngIf="firstname.errors?.['required'] && firstname.touched">
                First name is required
                </div>
                <div class="errors" *ngIf="firstname.errors?.['minlength'] && firstname.touched">First name should have minimum length</div>
                <div class="errors" *ngIf="firstname.errors?.['pattern'] && firstname.touched">First name cannot have numbers</div>
            </div>&nbsp;
            <div>
              <input formControlName="lastname" class="input" type="text" id="lastname" placeholder="Last Name"/>
                <div class="errors" *ngIf="lastname.errors?.['required'] && lastname.touched">
                Last name is required
                </div>
                <div class="errors" *ngIf="lastname.errors?.['minlength'] && lastname.touched">Last name should have minimum length</div>
                <div class="errors" *ngIf="lastname.errors?.['pattern'] && lastname.touched">Last name cannot have numbers</div>
            </div>&nbsp;
            <div>
              <input formControlName="email" class="input" type="email" id="email" placeholder="Email" (keypress)="CheckEmail()"/>
                <div class="errors" *ngIf="email.errors?.['required'] && email.touched">
                Email is required
                </div>
                <div class="errors" *ngIf="email.errors?.['email'] && email.touched">Enter valid email</div>
                <div *ngIf="status==false" class="errors" >{{EmailCheckmsg}}</div>
            </div>&nbsp;
           
            <div>
              <input formControlName="contactnumber" class="input" type="number" id="contactnumber" placeholder="Contact Number"/>
               <div class="errors" *ngIf="contactnumber.errors?.['required'] && contactnumber.touched">
                Phone number is required
                </div>
                <div class="errors" *ngIf="contactnumber.errors?.['minlength'] && contactnumber.errors?.['maxlength']">Phone number should have minimum length</div>
                <div class="errors" *ngIf="contactnumber.errors?.['pattern'] && contactnumber.touched">
                  Please enter numbers
                  </div>
            </div>&nbsp;
            <div>
              <input formControlName="password" class="input" type="password" id="password" placeholder="Password"/>
                <div class="errors" *ngIf="password.errors?.['required'] && password.touched">
                Password is required
                </div>
                <div class="errors" *ngIf="">Incorrect password</div>
            </div>&nbsp;
            <div>
              <input formControlName="vesselname" class="input" type="text" id="vesselname" placeholder="Vessel Name">
              <div class="errors" *ngIf="vesselname.errors?.['required'] && vesselname.touched">
              Please assign the vessel 
              </div>
          </div>&nbsp; 
            <div class="radio">
                <label>Role :</label>&nbsp;  
                <input type="radio" value="admin" id="Admin" formControlName="role">&nbsp;  
                <label for="Admin">Admin</label>&nbsp;  &nbsp;  &nbsp;  
                <input type="radio"  value="user" id="user" formControlName="role">&nbsp;  
                <label for="user">User</label>&nbsp;  &nbsp;  
                <input type="radio" value="guest" id="guest" formControlName="role">&nbsp;  
                <label for="guest">Guest</label>&nbsp;  &nbsp;  
                <div class="errors" *ngIf="role.errors?.['required'] && role.touched ">
                Please assign a role
                </div>
              </div>&nbsp;          
            <div class="move"><button  type="submit" [disabled]="signup.invalid" class=" btn" >Sign Up</button></div>
        </form>
    </div>
</div>
