.headerContainer1{
    display: flex;
    backdrop-filter: blur(50px) saturate(120%) contrast(200%);
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.headerBody1{
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    gap:12px;
    
}
.headerBody2{
  
    
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    gap:10px;
    
    /* font-weight: 900;
    font-size: larger; */
}
.headerBody3{
    padding-left: 140px;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;

}
.color{
    color:aliceblue;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    display: flex;
    text-align: center;
    justify-content: center;
}
.size{
    font-size: 9px;
}
.image{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
    
   ;
}


.mat-button{
    padding: 0px;
}
.set{
    max-width: 45px;
}
.tab1{
    display: flex;
    align-items: center;
    gap:12px;
}
.mat-icon{
    padding: 0px;
}
.set2{
    width: 5px;
}
.set3{
    display: flex;
    align-items: center;
}
.mat-button{
    width:10px;
}