<div class="login">
  <form  [formGroup]="forgotPassword" (ngSubmit)="submit()">
    <img src="../../assets/MicrosoftTeams-image.png"><br>
      <div class="set">
        <label  class="color" >Forgot Password : </label>
        <input class="input" formControlName="email" type="email" id="email" placeholder="Email"/>
          <div class="errors" *ngIf="email.errors?.['required'] && email.touched">
          Email is required
          </div>
          <div class="errors" *ngIf="email.errors?.['email'] && email.touched">Enter valid email</div>&nbsp;
            <div class="move">
               <button  type="submit" [disabled]="forgotPassword.invalid" class="btn" >Send Password</button>
            </div>
      </div>
</form>
</div>
