 <div class="login">
    <form [formGroup]="LoginForm" (ngSubmit)="submit()" autocomplete="off">
      <img src="../../assets/MicrosoftTeams-image.png"><br>
         <div> 
       <input formControlName="Userid" type="text " id="Userid" placeholder="USERNAME"/>&nbsp;
       <input formControlName="password"  type="password " id="password" placeholder="PASSWORD"/>&nbsp;
       <button type="submit" class=" btn" >LOGIN</button>
       <hr >
      </div>
      <div for="username" style="color: red;">{{msg}}</div>
       <a  class="pass" routerLink="/forgotpassword">Forgot password</a>
    </form>
</div>
