<!-- <mat-dialog-container> -->

  <div class="login">
    <form [formGroup]="Editprofile" (ngSubmit)="check()" autocomplete="off">
      <!-- <img style="height:50px;" src="../../assets/MicrosoftTeams-image.png"><br> -->   
        <div class="LabIn">
          <label class="inputLabel">User id</label>
          <input formControlName="Userid" class="input" type="text" id="Userid"/>
        </div>&nbsp; 
       
               
        <div  class="LabIn">
          <label class="inputLabel">First Name</label>
           <input formControlName="firstname" class="input" type="text" id="firstname" placeholder="First Name"/>
           
        </div>&nbsp;
        <div  class="LabIn">
          <label class="inputLabel">Last Name</label>
          <input formControlName="lastname" class="input" type="text" id="lastname" placeholder="Last Name"/>

        </div>&nbsp;
        <div  class="LabIn"> 
          <label class="inputLabel">Email</label>
          <input formControlName="email" class="input" type="email" id="email" placeholder="Email"/>
            
        </div>&nbsp;
       
        <div  class="LabIn">
          <label class="inputLabel">Contact</label>
          <input formControlName="contactnumber" class="input" type="number" id="contactnumber" placeholder="Contact Number"/>
      
        </div>&nbsp;   
        
        <div class="buttons">
          <button  mat-dialog-close mat-button class="btnC">Cancel</button>
          <button  type="submit" mat-button class="btn" >SAVE</button>
        </div>
      
    </form>
</div>
<!-- </mat-dialog-container> -->