<div class="container1">
    <div class="container2">
        <div class="heading">NEW VOYAGE PLAN
            <div class="importButton">
                <button class="btnColor">Import Voyage Plan</button>
                </div>
            </div>
       
    </div>

    <div class="container2">
          <mat-accordion class="example-headers-align disabled" multi routerLink="inactive">
            <mat-expansion-panel class="color">
              <mat-expansion-panel-header class="color2" >
                <mat-panel-title class="colorText" >
                 VOYAGE DETAILS
                </mat-panel-title>
              </mat-expansion-panel-header>
                
               <app-voyage-forms></app-voyage-forms>
             
            </mat-expansion-panel>

            <mat-expansion-panel class="color">
                <mat-expansion-panel-header  class="color2" >
                  <mat-panel-title class="colorText">
                   WAYPOINTS
                  </mat-panel-title>      
                </mat-expansion-panel-header>


            
              </mat-expansion-panel>
              <mat-expansion-panel class="color">
                <mat-expansion-panel-header  class="color2" >
                  <mat-panel-title class="colorText">
                   WAYPOINTS
                  </mat-panel-title>      
                </mat-expansion-panel-header>


            
              </mat-expansion-panel>
              <mat-expansion-panel class="color">
                <mat-expansion-panel-header  class="color2" >
                  <mat-panel-title class="colorText">
                   WAYPOINTS
                  </mat-panel-title>      
                </mat-expansion-panel-header>


            
              </mat-expansion-panel>
          </mat-accordion>
          


          <!-- <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="colorHeader" hideToggle>
                <mat-panel-title class="colorText">
                    angular fundamnetals
                </mat-panel-title>
            </mat-expansion-panel-header>
            dhjfsdfdfjkhjksdfhjsdfhj
            <button>Submit</button>

          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="colorHeader">
                <mat-panel-title class="colorText">
                    angular fundamnetals
                </mat-panel-title>
            </mat-expansion-panel-header>
            <button>Submit</button>

          </mat-expansion-panel>
          </mat-accordion> -->

          <!-- <div class="container2">
            <div class="subCont2">
            <div class="subCont1">
            <label class="colorText">Start Port Name </label><span style="color:red">*</span>
            </div>
            <div class="subCont3">
                <div><input type="text" placeholder="enter 2 charecters"/></div>
                <div><input type="checkbox"/><label class="colorText">At Sea</label></div>
            </div>
            </div>
            <div class="subCont2">
            <div class="subCont1" >
                <label class="colorText">Destination Port Name </label><span style="color:red">*</span>
             </div>
            <div class="subCont3">
                 <div><input type="text" placeholder="enter 2 charecters"/></div>
                 <div><input type="checkbox"/><label class="colorText">At Sea</label></div>
            </div>
            </div>
          </div>
          <div class="container2">
            <div class="subCont2">
            <div class="subCont1">
            <label class="colorText">Start Port Name </label><span style="color:red">*</span>
            </div>
            <div class="subCont3">
                <div><input type="text" placeholder="enter 2 charecters"/></div>
                <div><input type="checkbox"/><label class="colorText">At Sea</label></div>
            </div>
            </div>
            <div class="subCont2">
            <div class="subCont1" >
                <label class="colorText">Destination Port Name </label><span style="color:red">*</span>
             </div>
            <div class="subCont3">
                 <div><input type="text" placeholder="enter 2 charecters"/></div>
                 <div><input type="checkbox"/><label class="colorText">At Sea</label></div>
            </div>
            </div>
          </div>             -->







    </div >
</div >
